@import './variable';

.select {
  flex: 0 0 225px;
  // margin: 0 auto;
  position: relative;
  // .select__header

  &__header {
      display: flex;
      background: #F8F8F7;
      border-radius: 10px;
      cursor: pointer;
      color: $text-grey;
  }

  &__header-filter{
    background: #fff;
  }

  // .select__current

  &__current {
    padding: 10px;
  }

  // .select__icon

  &__icon {
    // display: flex;
    //   align-items: center;
    //   justify-content: center;
    //   flex-shrink: 0;
    //   text-align: center;
      height: 20px;
      width:20px;
      background: url('../image/icon/arrow-select.svg') no-repeat center center;
      // margin-left: auto;
      position: absolute;
      top: 50%;
      right: 5px;
      transform: translateY(-50%);

  }

  // .select__body

  &__body {
    display: none; 
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      border-radius: 20px;
      background: #FFF;
      overflow: hidden;
      z-index: 10;

    }

  // .select__item

  &__item {
    padding: 10px 20px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    color: $text-grey;
    &:hover{
      background: rgb(249, 249, 249);
    }
  }
}
.select__is-active .select__body{
  display: block;
}

.select__is-active .select__icon{
  transform: rotateZ(180deg) translateY(50%);
}

.select-limit{
  flex: 0 0 100px;
}
.filter{
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  background: $bg-grey;
  padding: 10px 20px 20px 20px;
  border-radius: 20px;
  gap: 10px;
  margin-bottom: 20px;

  &__inner{
  
    display: flex;
    justify-content: space-between;
    gap: 10px;

    &>div{
      flex: 1 1 auto;
    }
  }

  &__title{
    padding-left: 10px;
    text-transform: uppercase;
    color: $text-grey;
    font-size: 10px;
    line-height: 18px;
    font-family: 'Jost';
  }

  &__item{
    flex: 45%;
  }


 
}
.select-breeds{

  &>.select-limit{
    flex: 0 0 100px;
  }
}


// =======================gallery=============

.gallery {
  display: grid;
  // width: 800px;
  margin: 0 auto;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 140px;

  // .gallery__img
  &__img {
    width: 100%;
    height: 100%;

    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  // .gallery__button

  &__button {
    position: absolute;
      bottom: -100px;
      left: 10px;
      right: 10px;
      border-radius: 10px;
      background: #000;  
      color: #fff;
      z-index: 10;
      transition: all .3s ease;
      text-align: center;
      
  }

  // .gallery__item
  &__item {
    background: #ccc;
    position: relative;
    border-radius: 20px;
    overflow: hidden;

    &::after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba($red, .6);
      z-index: 5;
      visibility: hidden;
      opacity: 0;
      transition: all .1s ease;
    }

    &:hover{
      &::after{
        visibility:visible;
        opacity:1
      }
    }
  }

}

.gallery__item:hover .gallery__button{
  bottom: 10px;
}
.gellery__item-big{
  grid-row-start: span 2;
  grid-column-start: span 2;
}
.gellery__item-c {
  grid-column-start: span 2;
}
.gellery__item-r {
  grid-row-start: span 2;
}